@import url('http://fonts.cdnfonts.com/css/garogier');


html {
  height: 100%;
}
body {
  background: rgb(255,252,177);
  background: radial-gradient(circle, rgba(255,252,177,1) 0%, rgba(2,71,83,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  padding: 2%;
}
.parent {
  display: grid;
  max-width: 1000px;
  justify-content: center;
  margin: auto;
}

.section{
  text-align: center;
}

.logos {
  width: 60px;
  height: 60px;
  padding: 10px;
  object-fit: contain;
}
.boxContainer{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.linkText{
  text-decoration: 'none';
  color: black;
}
* {
  font-family: 'Garogier', sans-serif;
  word-break: break-word;
 }
 p{
   font-size: 18px;
 }